data/
.ipynb_checkpoints
.bin
*.db

*.parquet
*.html
*.csv

.venv
venv
.idea
**/artifacts/
**/models/

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*

# Mac
.DS_Store
.pkl
.parquet

# MLflow
mlruns/
mlartifacts/
outputs/
mlruns.db
**/basic_auth.db